<ion-content>
    <form [formGroup]="form" class="content ion-padding">
        <div class="logo">
            <ion-img [src]="'assets/logo.png'"></ion-img>
        </div>
        <div class="flex">
            <ion-list class="line-input">
                <ion-item class="ion-margin-bottom">
                    <ion-label position="floating">E-mail</ion-label>
                    <ion-input type="email" inputmode="email" formControlName="email" placeholder="seunome@exemplo.com"
                        required></ion-input>
                </ion-item>
                <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="input-error">Campo
                    obrigatório</div>

                <ion-item class="ion-margin-bottom">
                    <ion-label position="floating">Senha</ion-label>
                    <ion-input type="password" formControlName="senha" inputmode="password"
                        placeholder="Informe sua senha" required></ion-input>
                </ion-item>
                <div *ngIf="form.controls['senha'].invalid && form.controls['senha'].touched" class="input-error">Campo
                    obrigatório</div>
            </ion-list>
        </div>
        <div class="btns">
            <ion-button expand="block" class="ion-no-margin ion-margin-bottom" (click)="entrar()" fill="solid"
                color="primary">Entrar</ion-button>
            <ion-button expand="block" class="ion-no-margin" (click)="cadastrar()" fill="clear" color="primary">
                Cadastrar</ion-button>
        </div>
    </form>
</ion-content>